* {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background: url(img/patt.png);
}

.container {
 width: 1200px;
  padding: 0 15px;
  margin: auto;
}
.header {

  background: rgba(255, 255, 255, 0.75);
  height: 100px;
  display: flex;
  align-items: center;
}
.row {
  display: flex;
  margin: 0 -15px;
}

[class*="col-"] {
padding: 0 15px;
}
.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}
.col-4 {
  flex: 0 0 33.3%;
  max-width: 33.3%;
}
.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.menu {
  display: flex;
}
.menu li {
  width: 25%;
  border-left: 1px solid #61558a;
}
.menu li:last-child {
  border-right: 1px solid #61558a;
}
.menu  a {
  display: block;
  height: 50px;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  color: #2c71b8;
}

.menu a:hover {
  background-color: #2c71b8;
  color: white;
}
.header-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-form {
  display: flex;
  align-items: center;
  padding: 5px;
  border: 1px solid #2c71b8;
  width: 200px;
  height: 40px;
}
.header-form input {
  background: transparent;
  border:  none;
  font-size: 21px;
  color: #2c71b8;
  width: 100%;
}
.header-form input::placeholder {
  color: #2c71b8;
}
.header-form input:focus {
outline: none;
}

.header-form button  {
  width: 30px;
  height: 30px;
  background-color: #2c71b8;
  border: none;
  cursor: pointer;

}
.cart a{
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(img/icon\ \(1\).png) center no-repeat, #fff;
width: 40px;
height: 40px;
position: relative;
}
.cart a:hover {
  background: url(img/icon\ \(2\).png) center no-repeat, #2c71b8;
}
.cart a:hover .counter {
  background-color: #fff;
  color: #2c71b8;
}
.counter {
  background-color: #2c71b8;
  position: absolute;
  top: -10px;
  left: -10px;
  width: 20px;
height: 20px;
border-radius: 10px;
display: flex;
align-items: center;
justify-content: center;
color: #fff;
font-size: 12px;
font-weight: 400;
}

.header-li-hovered {
position: relative;

}
.header-li-hovered a {
  background: url(img/arrow-blue.png) no-repeat 110px;
}
.header-li-hovered:hover .modal-menu {
  opacity: 1;
  visibility: visible;
}
.header-li-hovered:hover >a {
  background: url(img/Прямоугольник_4_копия_13.svg)no-repeat 110px, #2c71b8;
  color: white;
}
.modal-menu {
position: absolute;
top: 50px;
left: -1px;
width: 286px;
height: 315px;
background-color: #2c71b8;
padding: 20px 0px;
opacity: 0;
visibility: hidden;
transition: all ease 0.5s;
}
.modal-menu ul li a {
  color: white;
  text-align: left;
  height: 40px;
  line-height: 40px;
  padding: 0px 20px;
}
.modal-menu li {
  width: 100%;
  border: none;
}
.modal-menu li:last-child {
  border: none;
}
.modal-menu ul li a:hover{
  color: #2c71b8;
  background: white;
}

.main {
}
.slider {
  height: 400px;
  background: rgba(0, 0, 0, 0.5);
}

.goods {
  padding-bottom: 100px;
}

.goods-wrapper {
  width: 1200px;
  margin: auto;
  padding: 0 15px;
}
.goods-content {
margin: 0 -15px;
display: flex;
}
.goods__filter {
  height: 843px;
  width: 270px;
  background: rgba(0, 0, 0, 0.5);
}

.goods__items {
  display: flex;
  flex-direction: column;
gap: 30px;
padding-top: 30px;
}
.row {
  display: flex;
  gap: 30px;
}
.goods__items > div {
  display:  flex;

}
.item {
  width: 33.3%;
  border: 1px solid #ffffff;
  background-color: rgba(44, 113, 184, 0.7);
}

.device-photo {
  position: relative;
  width: 100%;
  height: 180px;
background: rgba(255, 255, 255, 0.5);
display: flex;
justify-content: center;
align-items: center;
}
.scale-button, .favorite-button {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 5px;
  right: 5px;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
cursor: pointer;
  border: 1px solid #2c71b8;
}
.scale-button {
  background: transparent url(img/scale.png) center no-repeat;
}
.favorite-button  {
  top: 40px;
  background: transparent url(img/heart-icon.png) center no-repeat;
}
.scale-button:hover {
  background: #2c71b8 url(img/white\ scale.png) center no-repeat;
}
.favorite-button:hover {
background:#2c71b8 url(img/white\ heart.png) center no-repeat;
}
.item-content {
  font-family: 'Roboto';
  padding: 15px;
  padding-bottom: 23px;
  color: #ffffff;
  font-weight: 300;
}
.device-name {
font-size: 21px;
font-size: 30px;
font-weight: 700;
margin-bottom: 10px;
}
.device-description {
  font-size: 21px;
margin-bottom: 10px;
line-height: 25px;
}
.device-type, .screen-size, .revice-ram  {
font-weight: 700;
margin-bottom: 13px;
font-weight: normal;
font-size: 21px;
}
.device-type >span, .screen-size > span, .revice-ram >span {
  text-transform: uppercase;
  font-weight: 700;
}

.revice-ram {
  margin-bottom: 30px;
}
.device-price {
margin-bottom: 10px;
color: #ffffff;
font-family: 'Roboto';
font-size: 48px;
font-weight: 700;
display: flex;
width: fit-content;
margin-left: auto;
margin-right: auto;
margin-bottom: 25px;
}

.device-price > span {
display: inline-block;
margin-left: 5px;
  font-size: 15px;
}
.device-more-details {
width: 210px;
height: 50px;
border: 1px solid #ffffff;
background-color: #2c71b8;
display: flex;
justify-content: center;
align-items: center;
text-transform: uppercase;
margin-bottom: 15px;
cursor: pointer;
font-weight: 700;
margin-right: auto;
margin-left: auto;
}
.device-add-to-cart {
  width: 210px;
  height: 50px;
  border: 1px solid #ffffff;
  font-weight: 700;
  display: flex;
justify-content: center;
align-items: center;
text-transform: uppercase;
cursor: pointer;
margin-right: auto;
margin-left: auto;
background-image: url(img/cart\ white.png);
background-repeat:no-repeat;
background-position: 165px 15px;
}
.device-add-to-cart:hover,.device-more-details:hover {
  background-color:rgba(255 , 255, 255, 0.4);
}
.goods-navigation > a{
  display: block;
margin-right: 10px;
  opacity: 0.5;
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
}

.goods-navigation a.underline {
  text-decoration: underline;
}
.goods-sub-filter {
display: flex;
justify-content: space-between;
}
.goods-sub-filter h3 {
color: #ffffff;
font-family: 'Roboto';
font-size: 48px;
font-weight: 700;
}

.goods-sub-filter select {
  font-size: 21px;
background: url(img/keyboard-arrow-down.svg) no-repeat right #ddd;
-webkit-appearance: none; 
background-position-x: 240px;
padding-left: 20px;
width: 270px;
height: 40px;
border: 1px solid #ffffff;
background-color: #2c71b8;
color: #fff;
font-family: 'Roboto';
outline: none;
}
.load-more{
width: 198px;
height: 27px;
font-family: 'Roboto';
font-size: 36px;
font-weight: 300;
width: fit-content;
margin-left: auto;
margin-right: auto;
}
.load-more a {
  color: #ffffff;
  text-decoration: none;
}